{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "singleQuote": false,
        "explicitTypes": "always"
      }
    }
  ]
}
